@import "tailwindcss";

:root {
  color-scheme: light;
}

html { scroll-behavior: smooth; }
body { 
  background-color: #f8fafc;
  color: #0f172a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px; 
}

a { @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500 focus-visible:ring-offset-2; }
